#app {
  font-size: 50px;
  font-family: fangsong;
}
line {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
block {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
section {
  /* display: inline-block; */
  width: fit-content;
  line-height: 1em;
}

.spk {
  background-color: #aea;
  margin-left: 1em;
  font-family: cursive;
}

/* [word='“'] ~ word {
  background-color: #aaeeee;
}
[word='”'] ~ word {
  background-color: transparent;
}

[word='”'] ~ [word='“'] ~ word {
  background-color: #aaeeee;
}
[word='”'] ~ [word='“'] ~ [word='”'] ~ word {
  background-color: transparent;
}

[word='”'] {
  background-color: transparent !important;
} */
