body {
  margin: 0;
  /* display: none; */
}
#app {
  font-size: 50px;
  font-family: fangsong;
  /* height: 87650px; */
}
line {
  /* position: absolute; */
  display: block;
  /* margin-top: 1em;
  margin-bottom: 1em; */
}
period:nth-child(even) {
  display: block;
  box-shadow: -3px 0px 0px 0px red;
}
section {
  /* display: inline-block; */
  width: fit-content;
  line-height: 1em;
}

.spk {
  /* background-color: #aea; */
  /* margin-left: 1em; */
  font-family: cursive;
  font-weight: 900;
}
.spk :is(:nth-child(1), :nth-child(2)) {
  display: inline-block;
  width: 1em;
}
/* [word='“'] ~ word {
  background-color: #aaeeee;
}
[word='”'] ~ word {
  background-color: transparent;
}

[word='”'] ~ [word='“'] ~ word {
  background-color: #aaeeee;
}
[word='”'] ~ [word='“'] ~ [word='”'] ~ word {
  background-color: transparent;
}

[word='”'] {
  background-color: transparent !important;
} */

[data-selection] {
  cursor: pointer;
}
